/**

 Aooms 自定义样式
 Created by 风象南(cheereebo) on 2018-09-30

**/

.aooms-dialog .el-dialog__body{
  padding: 20px 30px 5px 20px;
}

.aooms-dialog .el-dialog{
  margin-top: 10vh !important;
}

.aooms-form-textarea textarea{
  font-family: "Arial", "Microsoft YaHei", "\9ED1\4F53", "\5B8B\4F53", sans-serif;
  color: #030406;
}

.aooms-popper-condition {
  padding: 0px !important;
}

.aooms-table-expand {
  font-size: 0 !important;
}

.aooms-table-expand label {
  width: 90px;
  color: #99a9bf;
  text-align: right !important;
}

.aooms-table-expand .el-form-item {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  width: 50%;
}

.aooms-tree-left{
  padding: 0 5px 0 0;
}

.aooms-tree-node{
  color:#606266 !important;
  font-size: 14px;
}

.aooms-scrollbar{
  height: 100%;
}
.aooms-scrollbar .el-scrollbar__wrap{
  overflow-x: auto !important;
}

/**

 Aooms 覆盖默认样式
 Created by 风象南(cheereebo) on 2018-10-08

**/
.splitter-pane-resizer{
  z-index: 100 !important;
}
