<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.aooms.rbac.mapper.OrgMapper">

    <select id="findList" resultType="net.aooms.core.module.mybatis.record.Record">
        SELECT * FROM aooms_rbac_org t where 1=1 ${_ANDS_}
    </select>

</mapper>