<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.aooms.rbac.mapper.OrgMapper">

    <select id="findList" resultType="net.aooms.core.record.Record">
        SELECT * FROM aooms_rbac_org t where 1=1 ${_ANDS_} order by t.ordinal
    </select>

    <select id="findMaxOrgPermission" resultType="int">
        SELECT max(org_permission) FROM aooms_rbac_org t where parent_org_id = #{parent_org_id}
    </select>

    <select id="findOrgLevel" resultType="int">
        SELECT org_level FROM aooms_rbac_org t where id = #{parent_org_id}
    </select>

    <update id="updatePermissionColumn">
        update aooms_rbac_org set org_level = 0, org_permission = '', data_permission = ''
    </update>




</mapper>