<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.aooms.rbac.mapper.UserMapper">

    <select id="findList" resultType="net.aooms.core.record.Record">
        SELECT
            t.id,
            t.user_name,
            t.user_nickname,
            t.account,
            t.sex,
            t.phone,
            t.photo,
            t.email,
            t.remark,
            t.status,
            t.ordinal,
            t.create_time,
            t.update_time
         FROM aooms_rbac_user t, aooms_rbac_org o where t.org_id = o.id ${_ANDS_} order by t.ordinal


        <!--
        <if test="status != null and status != ''">
            AND t.status = #{status}
        </if>
        <if test="user_name != null and user_name != ''">
            AND t.user_name LIKE #{user_name}
        </if>
        <if test="account != null and account != ''">
            AND t.account LIKE #{account}
        </if>
        <if test="phone != null and phone != ''">
            AND t.phone LIKE #{phone}
        </if>
        <if test="email != null and email != ''">
            AND t.email LIKE #{email}
        </if>
        <if test="create_time != null and create_time != ''">
            AND t.create_time &gt; #{create_time}
        </if>
        <if test="create_time_end != null and create_time_end != ''">
            AND t.create_time &lt; #{create_time_end}
        </if>

        <if test="update_time != null and update_time != ''">
            AND t.update_time &gt; #{update_time}
        </if>
        <if test="update_time_end != null and update_time_end != ''">
            AND t.update_time &lt; #{update_time_end}
        </if>
        -->

    </select>

    <select id="findByAccount" resultType="net.aooms.core.record.Record">
        SELECT
            t.id,
            t.user_name,
            t.user_nickname,
            t.account,
            t.password,
            t.sex,
            t.phone,
            t.photo,
            t.email,
            t.remark,
            t.status,
            t.create_time,
            t.update_time,
            o.org_name,
            o.org_code,
            o.org_shortname,
            o.data_permission
        FROM aooms_rbac_user t, aooms_rbac_org o
        where t.org_id = o.id
              and t.status = 'Y'
              and t.account = #{username}

    </select>

    <delete id="deleteRoleByUserId">
        delete from aooms_rbac_userrole where user_id = #{user_id}
    </delete>

    <select id="findRoleByUserId" resultType="string">
        select role_id from aooms_rbac_userrole where user_id = #{user_id}
    </select>

    <select id="findResourceByUserId" resultType="net.aooms.core.record.Record">
        SELECT distinct r.*
        FROM aooms_rbac_role t,
             aooms_rbac_userrole ur,
             aooms_rbac_permission p,
             aooms_rbac_resource r
        where t.id = p.role_id
              and r.id = p.resource_id
              and ur.role_id = t.id
              and t.status = 'Y' and r.status = 'Y'
              and ur.user_id = #{user_id}
              order by r.ordinal
    </select>

</mapper>