<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.aooms.rbac.mapper.UserMapper">

    <select id="findList" resultType="net.aooms.core.module.mybatis.record.Record">
        SELECT
            t.id,
            t.user_name,
            t.user_nickname,
            t.account,
            t.sex,
            t.phone,
            t.photo,
            t.email,
            t.remark,
            t.status,
            t.create_time,
            t.update_time
         FROM aooms_rbac_user t
         WHERE  1=1
        <if test="status != null and status != ''">
            AND t.status = #{status}
        </if>
    </select>

    <select id="updateById" resultType="int">
        update user set name = '123' where id = #{id}
    </select>

    <select id="findAll" resultType="net.aooms.core.module.mybatis.record.Record">
        select * from t_order
    </select>

</mapper>