<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <!-- 二级缓存 -->
    <!--
    <cache type="net.aooms.core.module.mybatis.J2CacheSupport" eviction="LRU" flushInterval="60000" size="512" readOnly="true"/>
    -->

    <sql id="columns">
         id,name
    </sql>

    <select id="findList" resultType="net.aooms.core.module.mybatis.record.Record">
        SELECT <include refid="columns" /> FROM USER
    </select>

    <select id="updateById" resultType="int">
        update user set name = '123' where id = #{id}
    </select>

    <select id="findAll" resultType="net.aooms.core.module.mybatis.record.Record">
        select * from t_order
    </select>

</mapper>